header, .subtitle-two{
    text-align: center;
}

.subtitle {
    margin-top: 20px;
}

h3, h4, h5 {
    font-family: 'Parisienne', cursive;
}

button {
    border-radius: 6px;
}

#map-container {
    height: 487px;
    width: 100%;
}

.inputError {
    background-color: lightcoral !important;
}

.redText {
    color: red;
    margin-top: 0;
}

#restaurants {
    text-align: center;
    font-size: 20px;
}

#iconA {
    text-align: center;
    margin-top: 175px;
}

#iconB {
    text-align: center;
    margin-top: 70px;
}

#border {
    border: 1px;
    border-style: solid;
    border-color:#90908d; 
    border-width: 100%;
}

.tableHeader {
    font-weight: bold;
}

.infoWindowContentMargin {
    margin: 2px 0;
}

@media only screen and (max-width: 992px) {
   
    #iconA {
        margin-top: 0px;
    }

    #iconB {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 650px) {
 
    #bothForms-wrapper {
        width: 100%;
    }

    
    #icon {
        margin-top: 0px;
    }
}