header {
    text-align: center;
    padding: 10px;
} 

.subtitle {
    margin-top: 30px;
    margin-bottom: 15px;
}

#bothForms-wrapper {
    margin: 0 0 15px 0;
}

#formOne-wrapper {
    width: 90%;
}

#formTwo-wrapper {
    width: 90%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Parisienne', cursive;
}

a, 
a:link, 
a:visited {
    color: #75c8ae;
    text-decoration: none;
  }

#map-container {
    height: 487px;
    width: 100%;
}

.inputError {
    background-color: lightcoral !important;
}

.redText {
    color: red;
    margin-top: 0;
    margin-bottom: 8px;
}

#restaurants {
    text-align: center;
    font-size: 20px;
}

#iconA {
    text-align: center;
    padding: 45px;
}

#border {
    border: 1px;
    border-style: solid;
    border-color: #90908d;
    border-width: 100%;
}

.directions {
    font-size: 1rem;
}

.tableHeader {
    font-weight: bold;
}

.reviewsHeading {
    margin: 50px 0 10px 0;
}

.infoWindowContentMargin {
    margin: 2px 0;
}

.selected {
    background-color: lightgray;
}

.footerPar {
    font-size: .8rem;
    margin-top: 4px;
}

.reviewsHeaders {
    text-align: center;
}

.footerPar {
    margin: 2px 0;
}

footer {
    text-align: center;
    padding: 15px;
}

@media only screen and (max-width: 1464px) {

    #iconA {
       padding: 32px;
    }
}

@media only screen and (max-width: 992px) {

    #iconA {
        margin-top: 0px;
    }

    #formOne-wrapper, #formTwo-wrapper {
        width: 100%;
    }

    #radius-input {
        margin: 0 40%;
    }

    .verticalMargin {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 650px) {

    #icon {
        margin-top: 0px;
    }
}